.navbar-fixed-top {
    border-width: 0 0 0px;
    background-color: #005C46;
}

.navbar-fixed-bottom {
    border-width: 0 0 0px;
    background-color: white;
}

.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  border-bottom: 4px solid #fff;
}

.btn-primary {
  border-color: #fff;
}

.ui-datepicker {
    background-color: #fff;
}

.modal-content {
    width: 600px !important;
    margin: 30px auto !important;
}

.div-step {
    min-height: 220px;
}

.ui-icon-white {
    background-image: url("images/ui-icons_ffffff_256x240.png") !important;
}

.ui-icon:hover {
    cursor: pointer;
}

.ui-icon-info {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

.navbar-right {
    float: right !important;
}


@media (min-width: 1200px) {
    .container {
        width: 1500px;
    }
}