body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.jobSearchBox {
    width: 220px;
    height: 50px;
    float: right;
    font-size: 18px;
    border: 0;
    background: #eee;
    border-radius: 3px 0 0 3px;
    padding: 5px;
    margin: 20px;
}

.jobSearchBox:focus, .jobSearchBox2:focus {
    outline: none;
}

.jobSearchBox2 {
    width: 220px;
    height: 31px;
    float: right;
    font-size: 1.2em;
    border: 0;
    background: #eee;
    padding: 5px;
    margin: 0 0 10px 20px;
    border-radius: 4px;
}

.jobIndexLegend {
    width: 65%;
    margin: auto auto 5px auto;
}

.jobIndexTextArea {
    min-width: 100%;
}

.jobIndexInput {
    width: 280px;
}

.centered {
    margin: 0 auto;
}