<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<!-- This configuration file is used to add or update configurations for ALL deployed environments. This is handy when you need base configurations defined
     in the Web.config for local development, but need to make changes for ALL deployed environments. Note that environment configurations are applied after 
		 (on top of) this configuration. -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

	<system.webServer>
		<security xdt:Transform="InsertIfMissing">
			<authentication xdt:Transform="InsertIfMissing">
				<basicAuthentication enabled="true" xdt:Transform="InsertIfMissing"/>
			</authentication>
		</security>
	</system.webServer>
</configuration>
